body {
    font-family: 'Georgia', serif;
    background: #111;
}

a, h1, h2 {
    color: #377BA8;
}

h1, h2 {
    margin: 0;
}

h1 {
    border-bottom: 2px solid #eee;
}

.document {
    margin: 2em auto;
    width: 35em;
    border: 8px solid #6BA81E;
    padding: 0.8em;
    background: white;
}

.navbar {
    text-align: right;
    font-size: 0.9em;
    padding: 0.3em;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #eee;
}

