include README CHANGES LICENSE AUTHORS
recursive-include bin *
recursive-include example *
recursive-include kalapy *
recursive-include tests *
recursive-include docs *
prune docs/build
prune .git
exclude example/example.db
global-exclude *pyc *~ *.swp .gitignore
