<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>KalaPy Examples</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" />
</head>
<body>
<div class="document">
    <h1>KalaPy Examples</h1>
    <div class="navbar">
        <a href="http://www.kalapy.org/">Project Home</a> |
        <a href="http://www.kalapy.org/docs/index.html">Documentation</a> |
        <a href="http://www.kalapy.org/support.html">Support</a>
    </div>
    This is the main page of the <i>KalaPy</i> examples.<br>
    Here is the list of installed <i>application packages</i>.
    <ul class="entries">
        <li><a href="{{ url_for('wiki:home') }}">Wiki</a></li>
    </ul>
</div>
</body>
</html>
