{% from 'macros.html' import render_pagination %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>{{ title | default('SimpleWiki') }}</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="bodywrapper">
        <div class="header">
            <h1><a href="{{ url_for('home') }}">Simple Wiki</a></h1>
        </div>
        <div class="contents">
            {% if not hide_navigation and revision.timestamp %}
            <div class="page_meta">
                <a href="{{ url_for('show', name=revision.name, rev=revision.key) }}">This revision</a>
                was created on {{ revision.timestamp }}.
            </div>
            {% endif %}
            <div class="navigation">
            {% if not hide_navigation %}
                {% for id, href, title in (
                    ('show', url_for('show', name=revision.name), 'show'),
                    ('edit', url_for('edit', name=revision.name), 'edit'),
                    ('log', url_for('log', name=revision.name), 'log')
                ) %}
                <a href="{{ href }}" {{ {'class': 'active' if id == page_action else ''}|xmlattr }}
                >{{ title }}</a> |
                {% endfor %}
            {% endif %}
                <a href="{{ url_for('home') }}">main</a> |
                <a href="{{ url_for('index') }}">index</a> |
                <a href="{{ url_for('changes') }}">changes</a>
            </div>
            <div>
            {% block contents %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            KalaPy example Wiki Application.
        </div>
    </div>
</body>
</html>

